# 编译对象文件， 动静态库(共享对像)
.env
Dockerfile
*.sh
*.o
*.a
*.so

# 目录
_obj
_test
.idea

# 特定体系结构的扩展/前缀
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.db
*.exe
*.test
*.prof
runner-build
go-tenancy



config/bindatafs/templates_bindatafs.go
config/bindatafs/templates/*

.editorconfig
deploy.sh
db/seeds/enterprise
db/seeds/main
harp.json
.harp
tmp/*

node_modules/
public/assets/
public/webpack/
public/downloads
public/dist
public/system
*.js.map
*.css.map
npm-debug.log

config/*.example.yml
public/microsites/*
vendor/*
.DS_Store

*_env

frontend/.next/
