{{ $paginationResult := pagination }}
{{ if $paginationResult }}
    <nav aria-label="分页">

        <ul class="pagination">
            {{range $index, $page := $paginationResult.Pages}}
                {{if $page.IsPrevious}}
                    <li class="page-item qor-pagination-previous">
                        <a class="page-link" href="{{patch_current_url "page" $page.Page}}"
                           title="{{t "qor_admin.pagination.previous" "Previous Page"}}"
                           aria-label="{{t "qor_admin.pagination.previous"}}">
                            <span aria-hidden="true">«</span><span class="sr-only">Previous</span></a>
                        </a>
                    </li>
                {{else if $page.IsNext}}
                    <li class="page-item qor-pagination-next">
                        <a class="page-link" href="{{patch_current_url "page" $page.Page}}"
                           title="{{t "qor_admin.pagination.next" "Next Page"}}"
                           aria-label="{{t "qor_admin.pagination.next"}}">
                            <span aria-hidden="true">»</span><span class="sr-only">Next</span>
                        </a>
                    </li>
                {{else if $page.Current}}
                    <li class="page-item active">
                        <a class="page-link" href="{{patch_current_url "page" $page.Page}}">{{$page.Page}}</a>
                    </li>
                {{else if not (or $page.IsFirst $page.IsLast) }}
                    <li class="page-item">
                        <a class="page-link" href="{{patch_current_url "page" $page.Page}}">{{$page.Page}}</a>
                    </li>
                {{end}}
            {{end}}
        </ul>

    </nav>
{{ end }}