<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-drawer icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>Regular Tables
                    <div class="page-title-subheading">Tables are the backbone of almost all web
                        applications.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                        class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                        Buttons
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true"
                         class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                                            Inbox
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                                            Book
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                                            Picture
                                                        </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a disabled href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                                            File Disabled
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{$context := .}}
            {{$resource := .Resource}}

            {{if len .Result}}
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">Table with hover</h5>
                        <table class="mb-0 table table-hover">
                            <thead>
                            <tr>
                                {{$order_by := $context.Request.URL.Query.Get "order_by"}}
                                {{$metas := convert_sections_to_metas $resource index_sections}}
                                {{range $index, $meta := $metas}}
                                    {{$dbName := $meta.DBName}}
                                    {{$is_sorted := eq $order_by $dbName}}
                                    {{$is_desc_sorted := eq $order_by (print $dbName "_desc")}}
                                    <th class="mdl-data-table__cell--non-numeric {{if is_sortable_meta $meta}}{{if (or $is_sorted $is_desc_sorted)}}is-sorted{{end}}{{end}}"
                                        data-heading="{{$meta.Name}}"
                                        {{if is_sortable_meta $meta}}{{if $is_sorted}}data-order-by="{{$dbName}}_desc"
                                        {{else}}data-order-by="{{$dbName}}"{{end}}{{end}}>{{meta_label $meta}}</th>
                                {{end}}
                                <th class="mdl-data-table__cell--non-numeric qor-table__actions"></th>
                            </tr>
                            </thead>

                            <tbody>
                            {{range $result := .Result}}
                                {{$primaryKey := primary_key_of $result}}
                                {{$uniqueKey := unique_key_of $result}}

                                <tr data-primary-key="{{$primaryKey}}" data-url="{{url_for $result $resource}}">
                                    {{range $meta := $metas}}
                                        {{$value := render_meta $result $meta}}
                                        <td class="mdl-data-table__cell--non-numeric" data-heading="{{$meta.Name}}">
                                            <div class="qor-table__content">{{$value}}</div>
                                        </td>
                                    {{end}}

                                    <td class="mdl-data-table__cell--non-numeric qor-table__actions">
                                        {{$allowed_actions := allowed_actions $resource.GetActions "menu_item" $result}}

                                        {{if $allowed_actions}}
                                            <button id="actions-for-{{$uniqueKey}}"
                                                    class="mdl-button mdl-js-button mdl-button--icon qor-button--actions">
                                                <i class="material-icons">more_vert</i>
                                            </button>

                                            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu"
                                                for="actions-for-{{$uniqueKey}}">
                                                {{range $action := $allowed_actions}}
                                                    <li class="mdl-menu__item" qor-icon-name="{{$action.Name}}">
                                                        {{render_with "shared/action_item" (to_map "Action" $action "Result" $result "Context" $context "Resource" $resource "Mode" "menu_item")}}
                                                    </li>
                                                {{end}}
                                            </ul>
                                        {{end}}
                                    </td>
                                </tr>
                            {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            {{else}}
                <h2 class="qor-page__tips">{{t (printf "%v.tables.no_items" $resource.ToParam) (printf "No %v to show." (lower (plural $resource.Name)))}}</h2>
            {{end}}
        </div>
    </div>
</div>


{{/*<div class="col-lg-12">*/}}
{{/*    {{$context := .}}*/}}
{{/*    {{$resource := .Resource}}*/}}
{{/*    {{if len .Result}}*/}}
{{/*        <div class="main-card mb-3 card">*/}}
{{/*            <div class="card-body"><h5 class="card-title">Table with hover</h5>*/}}
{{/*                <table class="mb-0 table table-hover">*/}}
{{/*                    <thead>*/}}
{{/*                    <tr>*/}}
{{/*                        {{$order_by := $context.Request.URL.Query.Get "order_by"}}*/}}
{{/*                        {{$metas := convert_sections_to_metas $resource index_sections}}*/}}
{{/*                        {{range $index, $meta := $metas}}*/}}
{{/*                            {{$dbName := $meta.DBName}}*/}}
{{/*                            {{$is_sorted := eq $order_by $dbName}}*/}}
{{/*                            {{$is_desc_sorted := eq $order_by (print $dbName "_desc")}}*/}}
{{/*                            <th>{{meta_label $meta}}</th>*/}}
{{/*                        {{end}}*/}}
{{/*                        <th class="mdl-data-table__cell--non-numeric qor-table__actions"></th>*/}}
{{/*                    </tr>*/}}
{{/*                    </thead>*/}}
{{/*                    <tbody>*/}}
{{/*                    <tr>*/}}
{{/*                        <th scope="row">1</th>*/}}
{{/*                        <td>Mark</td>*/}}
{{/*                        <td>Otto</td>*/}}
{{/*                        <td>@mdo</td>*/}}
{{/*                    </tr>*/}}
{{/*                    {{range $result := .Result}}*/}}
{{/*                        {{$primaryKey := primary_key_of $result}}*/}}
{{/*                        {{$uniqueKey := unique_key_of $result}}*/}}
{{/*                        <tr>*/}}
{{/*                            {{range $meta := $metas}}*/}}
{{/*                                {{$value := render_meta $result $meta}}*/}}
{{/*                                <td>*/}}
{{/*                                    <div class="qor-table__content">{{$value}}</div>*/}}
{{/*                                </td>*/}}
{{/*                            {{end}}*/}}

{{/*                            <td>*/}}
{{/*                                {{$allowed_actions := allowed_actions $resource.GetActions "menu_item" $result}}*/}}

{{/*                                {{if $allowed_actions}}*/}}
{{/*                                    <button id="actions-for-{{$uniqueKey}}"*/}}
{{/*                                            class="mdl-button mdl-js-button mdl-button--icon qor-button--actions">*/}}
{{/*                                        <i class="material-icons">more_vert</i>*/}}
{{/*                                    </button>*/}}

{{/*                                    <ul>*/}}
{{/*                                        {{range $action := $allowed_actions}}*/}}
{{/*                                            <li class="mdl-menu__item" qor-icon-name="{{$action.Name}}">*/}}
{{/*                                                {{render_with "shared/action_item" (to_map "Action" $action "Result" $result "Context" $context "Resource" $resource "Mode" "menu_item")}}*/}}
{{/*                                            </li>*/}}
{{/*                                        {{end}}*/}}
{{/*                                    </ul>*/}}
{{/*                                {{end}}*/}}
{{/*                            </td>*/}}
{{/*                        </tr>*/}}
{{/*                    {{end}}*/}}
{{/*                    </tbody>*/}}
{{/*                </table>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
{{/*    {{else}}*/}}
{{/*        <h2 class="qor-page__tips">{{t (printf "%v.tables.no_items" $resource.ToParam) (printf "No %v to show." (lower (plural $resource.Name)))}}</h2>*/}}
{{/*    {{end}}*/}}
{{/*</div>*/}}



