<ul class="vertical-nav-menu">
    {{range $_, $value := .Result}}
        <li class="app-sidebar__heading">{{t (printf "qor_admin.menus.%v" $value.Name) $value.Name}}</li>
        {{if $value.URL}}
            <li>
                <a href="{{$value.URL}}" {{if $value.Active}}class="mm-active"{{end}}>
                    {{if $value.IconName}}<i class="metismenu-icon  {{$value.IconName}}"></i>{{end}}
                    {{t (printf "qor_admin.menus.%v" $value.Name) $value.Name}}
                </a>
            </li>
        {{end}}
        {{if $value.SubMenus}}
            {{range $_, $valueSub := $value.SubMenus}}
                {{if $valueSub.URL}}
                    <li>
                        <a href="{{$valueSub.URL}}" {{if $valueSub.Active}}class="mm-active"{{end}}>
                            {{if $valueSub.IconName}}<i class="metismenu-icon  {{$valueSub.IconName}}"></i>{{end}}
                            {{t (printf "qor_admin.menus.%v" $valueSub.Name) $valueSub.Name}}
                        </a>
                    </li>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
</ul>