{{define "role/edit-header"}}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
{{end}}

<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">标识</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required|name" lay-reqtext="标识不能为空" placeholder="请输入标识"
                   value="{{.Role.Name}}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="display_name" placeholder="请输入名称" value="{{.Role.DisplayName}}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">备注</label>
        <div class="layui-input-block">
            <textarea  class="layui-input" name="rmk" rows="3" cols="20">{{.Role.Rmk}}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label">普通操作</div>
        <div class="layui-form-block">
            <button type="button" class="layui-btn layui-btn-primary"
                    onclick="layui.common.checkAll('#LAY-auth-tree-index')">全选
            </button>
            <button type="button" class="layui-btn layui-btn-primary"
                    onclick="layui.common.uncheckAll('#LAY-auth-tree-index')">全不选
            </button>
            <button type="button" class="layui-btn layui-btn-primary"
                    onclick="layui.common.showAll('#LAY-auth-tree-index')">全部展开
            </button>
            <button type="button" class="layui-btn layui-btn-primary"
                    onclick="layui.common.closeAll('#LAY-auth-tree-index')">全部隐藏
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择权限</label>
        <div class="layui-input-block">
            <div id="LAY-auth-tree-index"></div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
{{define "role/edit-footer"}}
    <script>
        layui.use(['form', 'common', 'authtree'], async function () {
            var form = layui.form,
                layer = layui.layer,
                authtree = layui.authtree,
                common = layui.common,
                $ = layui.$;

            var roleSelects = await common.get("/role/perm/" +{{.Role.ID}}, false);
            var trees = authtree.listConvert(roleSelects.data.list, {
                primaryKey: 'id'
                , startPid: 0
                , parentKey: 'pid'
                , nameKey: 'name'
                , valueKey: 'id'
                , checkedKey: roleSelects.data.checkedId
            });
            // 如果后台返回的不是树结构，请使用 authtree.listConvert 转换
            authtree.render('#LAY-auth-tree-index', trees, {
                inputname: 'perm_ids[]',
                layfilter: 'lay-check-auth',
                autowidth: true,
            });

            form.verify({
                username: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                        return '用户名不能有特殊字符';
                    }
                    if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                        return '用户名首尾不能出现下划线\'_\'';
                    }
                    if (/^\d+\d+\d$/.test(value)) {
                        return '用户名不能全为数字';
                    }
                    if (value.length < 6 || value.length > 50) {
                        return '用户名必须6到50位';
                    }
                }
            });

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                data.field.perm_ids = authtree.getChecked('#LAY-auth-tree-index');
                common.post("/role/" + {{.Role.ID}}, JSON.stringify(data.field), true, function (res) {
                    if (res.status) {
                        layer.msg(res.msg, {
                            icon: 1,
                            time: 500 //0.5秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        });
                    } else {
                        layer.msg(res.msg, {
                            icon: 2,
                        },);
                    }
                });
                return false;
            });

        });
    </script>
{{end}}