{{/*<div class="qor-page__body qor-page__new">*/}}
{{/*    {{render "shared/flashes"}}*/}}
{{/*    {{render "shared/errors"}}*/}}

{{/*    <div class="qor-form-container">*/}}
{{/*        <form class="qor-form" action="{{url_for .Resource}}" method="POST" enctype="multipart/form-data">*/}}
{{/*            {{render_form .Result new_sections }}*/}}

{{/*            {{if has_create_permission .Resource}}*/}}
{{/*                <div class="qor-form__actions">*/}}
{{/*                    <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save"*/}}
{{/*                            type="submit">{{t "qor_admin.form.add" "Add" }}</button>*/}}
{{/*                    </button>*/}}
{{/*                    <a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--cancel"*/}}
{{/*                       href="javascript:history.back();">{{t "qor_admin.form.cancel" "Cancel"}}</a>*/}}
{{/*                </div>*/}}
{{/*            {{end}}*/}}
{{/*        </form>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}


<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-graph text-success">
                    </i>
                </div>
                <div>Form Layouts
                    <div class="page-title-subheading">Build whatever layout you need with our Architect framework.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="" data-placement="bottom"
                        class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                    <i class="fa fa-star"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow dropdown-toggle btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fa fa-business-time fa-w-20"></i>
                                            </span>
                        Buttons
                    </button>
                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-inbox"></i>
                                    <span>
                                                            Inbox
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-book"></i>
                                    <span>
                                                            Book
                                                        </span>
                                    <div class="ml-auto badge badge-pill badge-danger">5</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link">
                                    <i class="nav-link-icon lnr-picture"></i>
                                    <span>
                                                            Picture
                                                        </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a disabled="" href="javascript:void(0);" class="nav-link disabled">
                                    <i class="nav-link-icon lnr-file-empty"></i>
                                    <span>
                                                            File Disabled
                                                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content">

        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Grid</h5>
                <form class="">
                    <div class="position-relative row form-group"><label for="exampleEmail"
                                                                         class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10"><input name="email" id="exampleEmail"
                                                      placeholder="with a placeholder" type="email"
                                                      class="form-control"></div>
                    </div>
                    <div class="position-relative row form-group"><label for="examplePassword"
                                                                         class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10"><input name="password" id="examplePassword"
                                                      placeholder="password placeholder" type="password"
                                                      class="form-control"></div>
                    </div>
                    <div class="position-relative row form-group"><label for="exampleSelect"
                                                                         class="col-sm-2 col-form-label">Select</label>
                        <div class="col-sm-10"><select name="select" id="exampleSelect"
                                                       class="form-control"></select></div>
                    </div>
                    <div class="position-relative row form-group"><label for="exampleSelectMulti"
                                                                         class="col-sm-2 col-form-label">Select
                            Multiple</label>
                        <div class="col-sm-10"><select multiple="" name="selectMulti" id="exampleSelectMulti"
                                                       class="form-control"></select></div>
                    </div>
                    <div class="position-relative row form-group"><label for="exampleText"
                                                                         class="col-sm-2 col-form-label">Text
                            Area</label>
                        <div class="col-sm-10"><textarea name="text" id="exampleText"
                                                         class="form-control"></textarea></div>
                    </div>
                    <div class="position-relative row form-group"><label for="exampleFile"
                                                                         class="col-sm-2 col-form-label">File</label>
                        <div class="col-sm-10"><input name="file" id="exampleFile" type="file"
                                                      class="form-control-file">
                            <small class="form-text text-muted">This is some placeholder block-level help text
                                for the above input. It's a bit lighter and easily wraps to a new line.</small>
                        </div>
                    </div>
                    <fieldset class="position-relative row form-group">
                        <legend class="col-form-label col-sm-2">Radio Buttons</legend>
                        <div class="col-sm-10">
                            <div class="position-relative form-check"><label class="form-check-label"><input
                                            name="radio2" type="radio" class="form-check-input"> Option one is
                                    this and that—be sure to include why it's great</label></div>
                            <div class="position-relative form-check"><label class="form-check-label"><input
                                            name="radio2" type="radio" class="form-check-input"> Option two can
                                    be something else and selecting it will deselect option
                                    one</label></div>
                            <div class="position-relative form-check disabled"><label
                                        class="form-check-label"><input name="radio2" disabled="" type="radio"
                                                                        class="form-check-input"> Option three
                                    is disabled</label></div>
                        </div>
                    </fieldset>
                    <div class="position-relative row form-group"><label for="checkbox2"
                                                                         class="col-sm-2 col-form-label">Checkbox</label>
                        <div class="col-sm-10">
                            <div class="position-relative form-check"><label class="form-check-label"><input
                                            id="checkbox2" type="checkbox" class="form-check-input"> Check me
                                    out</label></div>
                        </div>
                    </div>
                    <div class="position-relative row form-check">
                        <div class="col-sm-10 offset-sm-2">
                            <button class="btn btn-secondary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

